node_modules/
dist/
.expo/
.env
backend/.env
web/.env
mobile/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
backend/data/db.json
web/cypress/artifacts/screenshots/
web/cypress/artifacts/videos/
web/.cypress-cache/
